<%= game_state(@tally.game_state) %>

<div class="row">
  <div class="column">
  <%= render "_gallows.html", left: @tally.turns_left %>
  </div>
  <div class="column column-50 column-offset-25">
    <%= render "_status.html", tally: @tally, conn: @conn %>
  </div>
</div>


